@tailwind base;
@tailwind components;
@tailwind utilities;

#splash.hide {
  pointer-events: none;
  cursor: default;
  opacity: 0;
}

#splash button {
  text-shadow: none;
}

#splash button:hover {
  background: black !important;
}
